<footer>
    <p>Developed by <a href="https://github.com/nban22" target="_blank">Nguyễn Bá An</a></p>
    <p>
        For any inquiries, contact me at
        <a href="mailto:nban22@clc.fitus.edu.vn">nban22@clc.fitus.edu.vn</a>
    </p>
</footer>
